* {
    padding: 0;
    margin: 0;
}

body {
    .young-serif-regular {
        font-family: "Young Serif", serif;
        font-weight: 400;
        font-style: normal;
    }
}

.container {
    padding: 50px;
}

.Section-one{
    background-color: black;
    color: white;
    padding: 20px;
}

.section-one__contact {
    background-color: orange;
    color: white;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    display: inline-block;
    margin-top: 10px;
}

.section-one __name {
    font-size: 40px;
}

.section-two__role {
    font-size: 30px;
    margin-top: 10px;
}

.section-two,.section-three,.section-four,.section-five {
  margin-top: 20px;

}
.section-two__description,.section-three__description,.section-four__description,.section-five__description {
  margin-top: 10px;

}

.section-five{
    background-color: black ;
    color: white;
    padding: 20px;
}

.section-five__title  a {
    background-color: none;
    color: white;
}

.section-three li,.section-four li
 {
  list-style: none;
 }

 .sections {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin: 20px;
}
.section-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin: 20px;
}

/* Style for both sections */
.section-three,
.section-four {
  background-color: lightgrey;
  color: black;
  padding: 20px;
  border-radius: 10px;
  width: 48%;
  box-sizing: border-box;
  vertical-align: top;
}


